html {
    scroll-behavior: smooth;
}

.about-me {
    margin-top: 60px !important;
}

.before-after {
    justify-content: center;
}

.before-after a {
    margin-bottom: 25px;
}

body {
    font-family: 'Lato', sans-serif!important;
    background: url('images/leaves.png')!important;
}

.bold {
    font-weight: bold;
}

.container {
    margin-top: 60px !important;
}

.centered {
    margin: 0 auto;
    width: 100%;
}

.chevron {
    color: #777777;
}

.column p {
    font-size: 25px;
}

.column-left {
    display: flex !important;
    flex-direction: column;
    align-items: center;
}

.column-left p {
    font-size: 50px;
    font-family: 'Playfair Display', serif;
    margin-bottom: 10px;
}

.column-right p {
    font-size: 28px;
    font-family: 'Lato', sans-serif;
}

.column-right {
    display: flex !important;
    align-items: center;
}

.description {
    font-size: 15px;
    font-family: 'Lato', sans-serif !important;
    font-weight: 300;
}

.header {
    font-size: 30px !important;
    text-align: center;
    font-family: 'Playfair Display', serif !important;
}

.ui.cards>.card>.content>.header:not(.ui) {
    font-weight: 300;
}


.italic {
    font-style: italic; 
}

.icons {
    width: 200px !important;
}

.masthead {
    min-height: 700px;
    padding: 1em 0em;
}

.masthead-image {
    height: 600px;
    position: absolute;
    right: 75px;
    top: 50px;
    z-index: 1;
}

.masthead-content {
    position: relative;
    z-index: 3;
    color: black;
    font-size: 30px;
    width: 57%;
    padding-top: 300px;
    padding-bottom: 175px;
    padding-left: 125px;
}

.masthead-title {
    text-align: left;
    font-family: 'Playfair Display', serif;
    color: #777777;
    font-size: 70px;
}

.masthead-subtitle {
    width: 500px;
    text-align: left;
    color: #444749;
}

p {
    color: #444749;
}

#part2 {
    width: 90%;
    margin: 0 auto;
}

.pattern {
    width: 100%;
}

.photos-container {
    text-align: center;  
    background-color: rgba(255,255,255,0.5);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px 0;
}

.photo-container {
    text-align: center;  
    background-color: rgba(255,255,255, 1);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px 0;
}

.overlay {
    height: 600px;
    width: 900px;
    background-color: rgba(255,255,255,0.5);
    position: absolute;
    right: 75px;
    top: 50px;
    z-index: 2;
}

.overlay-divider {
    background: url(images/geometry2.png) !important;
    height: 75px;
    margin: 60px 0 0;
}

.reflection {
    width: 100%;
}

.row {
    margin-bottom: 25px;
}

.second h2{
    font-size: 60px;
    text-align: center;
    font-family: 'Playfair Display', serif !important;
    color: #3f3f3f;
}

.ui.inverted.segment, .ui.primary.inverted.segment {
    background: url('images/geometry2.png') !important;
}

.ui.button {
    background: #b5dcf4 !important;
    color: #7a828c !important;
}

.ui.button:hover {
    background: #6c8299 !important;
    color: white !important;
}

.ui.cards {
    justify-content: center;
    flex-wrap: nowrap !important;
}

.ui.container {
    margin: 60px 0 150px;
}

footer {
    display: flex !important;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,0.8);
    height: 100px;
    flex-direction: column;
}

footer div {
    text-align: center;
}

footer a { 
    color: black;
}

footer p:hover {
    color: #4183c4;
}

footer p {
    font-size: 18px;
    margin-bottom: 15px !important;
}

.copyright {
    font-size: 10px;
}